

<ion-content>

  <div class="navbar">
    <!-- <svg height="210" width="500" class="Line-test"> -->
      <!-- <line x1="7.5%" y1="200" x2="92%" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" /> -->
      <!-- Sorry, 40yo210ur browser d420oes not support inline SVG.4 -->
    <!-- </svg> -->
    <div class="s-solider">
      <div class="seek-bar"></div>
    </div>
    
    <a href="/test"><ion-icon name="home-outline"></ion-icon></a>
    <a href="/test1"><ion-icon name="search-outline"></ion-icon></a>
    <a href="/test2"><ion-icon name="library-outline"></ion-icon></a>
  </div>


  <div class="back">
    <ion-icon name="chevron-back-outline" class="settings"></ion-icon>
  </div>

<div class="title">
  <p>Artist</p>
</div>

<div class="subtitle">
  <p>Låtnamn</p>
</div>

  <div class="disk">

  </div>
  <ion-icon name="shuffle-outline" class="icon-shuffle"></ion-icon>
  <ion-icon name="heart-outline" class="icon-heart"></ion-icon>

</ion-content>
