<ion-content>
  <div class="navbar">
    <svg height="210" width="500" class="Line-test">
      <line x1="40" y1="200" x2="420" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" />
      <!-- Sorry, yo210ur browser does not support inline SVG.4 -->
    </svg>
    <a href="#"><ion-icon name="home-outline"></ion-icon></a>
    <a href="../test1/test1.page.html"><ion-icon name="search-outline"></ion-icon></a>
    <a href="#Library"><ion-icon name="library-outline"></ion-icon></a>
  </div>

  <div class="settings">
    <ion-icon name="settings-sharp" class="settings"></ion-icon>
    </div>
        

<div class="title">
  <p>Bibliotek</p>
</div>

<div class="låtar-titel">
  <p>Gillade låtar</p>
</div>

<div class="låtar">
  <!-- <img src="http://unsplash.it/100" alt="?"> -->
  <img src="../../../assets/Adele.png" class="Img-test" alt="?">
  <img src="http://unsplash.it/101" alt="?">
  <img src="http://unsplash.it/102" alt="?">
  <img src="http://unsplash.it/103" alt="?">
  <img src="http://unsplash.it/99" alt="?">
  <img src="http://unsplash.it/98" alt="?">
  <img src="http://unsplash.it/97" alt="?">
  <div class="text">
    <p>Låtnamn</p>
    <p>Låtnamn</p>
    <p>Låtnamn</p>
    <p>Låtnamn</p>
    <p>Låtnamn</p>
    <p>Låtnamn</p>
    <p>Låtnamn</p>
  </div>
</div>

<div class="artister-titel">
  <p>Gillade Artister</p>
</div>

<div class="Artister">
  <img src="http://unsplash.it/100" alt="?">
  <img src="http://unsplash.it/101" alt="?">
  <img src="http://unsplash.it/102" alt="?">
  <img src="http://unsplash.it/103" alt="?">
  <img src="http://unsplash.it/99" alt="?">
  <img src="http://unsplash.it/98" alt="?">
  <img src="http://unsplash.it/97" alt="?">
  <div class="text1">
    <p>Artist</p>
    <p>Artist</p>
    <p>Artist</p>
    <p>Artist</p>
    <p>Artist</p>
    <p>Artist</p>
    <p>Artist</p>
  </div>
</div>

<div class="album-titel">
  <p>Gillade Album</p>
</div>

<div class="Album">
  <img src="http://unsplash.it/100" alt="?">
  <img src="http://unsplash.it/101" alt="?">
  <img src="http://unsplash.it/102" alt="?">
  <img src="http://unsplash.it/103" alt="?">
  <img src="http://unsplash.it/99" alt="?">
  <img src="http://unsplash.it/98" alt="?">
  <img src="http://unsplash.it/97" alt="?">
  <div class="text2">
    <p>Album</p>
    <p>Album</p>
    <p>Album</p>
    <p>Album</p>
    <p>Album</p>
    <p>Album</p>
    <p>Album</p>
  </div>
</div>

<!--<div class="foryou">
  <p>For You</p>
</div>-->
</ion-content>
