<ion-content>
  <div class="navbar">
    <!-- <svg height="210" width="500" class="Line-test"> -->
      <!-- <line x1="7.5%" y1="200" x2="92%" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" /> -->
      <!-- Sorry, 40yo210ur browser d420oes not support inline SVG.4 -->
    <!-- </svg> -->
    <div class="s-solider">
      <div class="seek-bar"></div>
    </div>
    
    <a href="#"><ion-icon name="home-outline"></ion-icon></a>
    <a href="../test1/test1.page.html"><ion-icon name="search-outline"></ion-icon></a>
    <a href="#Library"><ion-icon name="library-outline"></ion-icon></a>
  </div>

  <div class="settings">
    <ion-icon name="settings-sharp" class="settings"></ion-icon>
    </div>
        

<div class="title">
  <p>Bibliotek</p>
</div>

<div class="låtar-titel">
  <p>Gillade låtar</p>
</div>

<div class="låtar">
  <!-- <img src="http://unsplash.it/100" alt="?"> -->
  <img src="../../../assets/adele2.jpeg" class="images" alt="?">
  <img src="../../../assets/sam2.jpg" class="images" alt="?">
  <img src="../../../assets/bruno2.jpg" class="images" alt="?">
  <img src="../../../assets/justin2.jfif" class="images" alt="?">
  <img src="../../../assets/adele2.jpeg" class="images" alt="?">
  <img src="../../../assets/adele2.jpeg" class="images" alt="?">
  <img src="../../../assets/adele2.jpeg" class="images" alt="?">

  <div class="text">
    <p>Easy on me</p>
    <p>Im not the <br> only one</p>
    <p>When I was <br> your man</p>
    <p>Changes</p>
    <p>Låtnamn</p>
    <p>Låtnamn</p>
    <p>Låtnamn</p>
  </div>

  <div class="text3">
    <p>Adele</p>
    <p>Sam Smith</p>
    <p>Bruno Mars</p>
    <p>Justin Beiber</p>
    <p>Artist</p>
    <p>Artist</p>
    <p>Artist</p>
  </div>
</div>

<div class="artister-titel">
  <p>Gillade Artister</p>
</div>

<div class="Artister">
  <img src="../../../assets/Adele.png" class="images-artister" alt="?">
  <img src="../../../assets/Bruno.jpg" class="images-artister" alt="?">
  <img src="../../../assets/Justin.jpg" class="images-artister" alt="?">
  <img src="../../../assets/Sam.jpg" class="images-artister" alt="?">
  <img src="../../../assets/adele2.jpeg" class="images-artister" alt="?">
  <img src="../../../assets/adele2.jpeg" class="images-artister" alt="?">
  <img src="../../../assets/adele2.jpeg" class="images-artister" alt="?">


  <div class="text1">
    <p>Adele</p>
    <p>Bruno mars</p>
    <p>Justin Bieber</p>
    <p>Sam Smith</p>
    <p>Artist</p>
    <p>Artist</p>
    <p>Artist</p>
  </div>
</div>

<div class="album-titel">
  <p>Gillade Album</p>
</div>

<div class="Album">
  <img src="../../../assets/coldplay.jpg" class="images-album" alt="?">
  <img src="../../../assets/eminem.jpg" class="images-album" alt="?">
  <img src="../../../assets/rihanna.jpg" class="images-album" alt="?">
  <img src="../../../assets/Dance.jpg" class="images-album" alt="?">
  <img src="../../../assets/Dance.jpg" class="images-album" alt="?">
  <img src="../../../assets/Dance.jpg" class="images-album" alt="?">
  <img src="../../../assets/Dance.jpg" class="images-album" alt="?">

  <div class="text2">
    <p>Parachutes</p>
    <p>The Eminem <br>show</p>
    <p>Loud</p>
    <p>Album4</p>
    <p>Album</p>
    <p>Album</p>
    <p>Album</p>
  </div>
</div>


<!--<div class="foryou">
  <p>For You</p>
</div>-->
</ion-content>
