
/**
-------------------------------
Themes
-------------------------------
**/

ion-content{
    --background: var(--ion-color-orang-gradient);
    // --background: var(--ion-color-blue-gradient);
    // --background: var(--ion-color-purple-gradient); 
}

.navbar{
    background: linear-gradient(90deg, rgba(249,182,106,1) 0%, rgba(201,100,26,1) 100%, rgba(201,100,26,1) 100%);
    // background: linear-gradient(90deg, rgba(61, 66, 72 ,1) 0%, rgba(37, 37, 41 ,1) 100%, rgba(37, 37, 41 ,1) 100%);
    // background: linear-gradient(90deg, rgba(91, 0, 106, 1) 0%, rgba(30, 0, 42, 1) 100%, rgba(30, 0, 42, 1) 100%);
}
    

@font-face { 
    src: url(../../../assets/TCM_____.TTF); 
    font-family: Tw Cen MT;
    src: url(../../../assets/seguisb.ttf);
    font-family: segoe UI;
}

p{
    color: white;
}

.test{
    background-color: yellow; 
}

.settings{
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 34px; 
    color: white;
}



/**
-------------------------------
            Navbar          
-------------------------------
**/


.s-solider{
    // width: 400px;
    width: 100%;
    position: absolute;
    top: -5px;
    margin-right: 14px;
    margin-left: 25px;
}


.seek-bar {
    -webkit-appearance: none;
    // width: 360px;
    // width: 90%;
    width: 86.9%;
    height: 2.5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    overflow: hidden;
    margin-left: 23px;
    box-shadow: 1px 10px 30px 1px white;
    
}  

//.navbar svg{
    //margin-bottom: 3px;
    //margin-top: -500px;
    //width: 100%; 
    // padding-top: -100px;
    // box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.2);
    // box-shadow: 6px 3px 3px rgba(255, 255, 255, 0.4);
    // border: 1px; 
    // border-style: solid; 



.navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    // padding-top: 2%;
    // border: 1px;
    // border-style: solid hidden hidden hidden;
    // border-color: white;
}

.navbar{
    display: flex; 
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    // border: 1px;
    // border-style: solid;
    // background-color: darkgrey;
    padding: 1.5%;
    bottom: 0;

}

.navbar a:nth-of-type(1){
    float: left;
    // margin-left: 10%;
    // font-size: 30px;
}

.navbar a:nth-of-type(2){
    float: left;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

.navbar a:nth-of-type(3){
    float: right;
    // margin-right: 10%;
}

.Img-test{
    width: 100px;
}


/**
-------------------------------
Annat          
-------------------------------
**/

.title{
    display: flex; 
    justify-content: center; 
    margin-top: 35px;
    margin-left: 50px;
}

.title p{
/*    margin: 20px;*/
    margin-bottom: 0;
    font-size: 34px; 
    font-family:Tw Cen MT;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-weight: semi bold;
    justify-content: center;
}

/**
-------------------------------
            Låtar          
-------------------------------
**/

.låtar-titel  {
    display: flex; 
    justify-content: left;
    font-size: 20px; 
    font-weight: lighter;
    font-family: segoe UI;
    margin-left: 20px;
}

.låtar-titel  p{
    margin-bottom: 10px;
    margin-top: 30px;
}
.låtar {
    margin: 4px, 4px;
    padding: 4px;
    /**background-color: #08c708;**/
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.låtar img{
    border-radius: 20px;
    margin-left: 0.7rem;
    size: 120px 120px;
}

.images{
    width: 102px; 
    height: 99px;
}

.Img-test{
    margin-left: 0.2 rem;
}

.text{
    display: flex;
}

.text p{
    margin: 3px 1.3rem 1px 1.3rem;
    font-size: 18px;
    font-family: Tw Cen MT;
    text-align: left;
}

.text3{
    display: flex;
}

.text3 p{
    // margin: 2px 2rem 1px 1.5rem;
    font-size: 15px;
    font-family: segoe UI;
    color: #0B0B45;
}

.text3 p:nth-of-type(1){
    margin: 2px 1.5rem 1px 2.6rem;
}

.text3 p:nth-of-type(2){
    margin: 2px 1rem 1px 2rem;
}

.text3 p:nth-of-type(3){
    margin: 2px 0.5rem 1px 1.6rem;
}
.text3 p:nth-of-type(4){
    margin: 2px 1rem 1px 1.5rem;
}

.text3 p:nth-of-type(5){
    margin: 2px 1.9rem 1px 2rem;
}

.text3 p:nth-of-type(6){
    margin: 2px 2.3rem 1px 2.6rem;
}

.text3 p:nth-of-type(7){
    margin: 2px 1.9rem 1px 2.8rem;
}


/**
-------------------------------
           Artister          
-------------------------------
**/

.artister-titel{
    display: flex; 
    justify-content: left;
    font-size: 20px; 
    font-weight: lighter;
    font-family: segoe UI;
    margin-left: 20px;
    text-align: center;

}

.artister-titel p{
    margin-bottom: 10px;
    margin-top: 30px;
}

.Artister {
    margin: 4px, 4px;
    padding: 4px;
    /**background-color: #08c708;**/
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.Artister img{
    border-radius: 100px;
    margin-left: 0.7rem;
}

.images-artister{
    width: 120px; 
    height: 120px;    
}

.text1{
    display: flex;
}

.text1 p{
    margin: 17px 1rem 1px 2.9rem;
}

/**
-------------------------------
           Album          
-------------------------------
**/

.album-titel{
    display: flex; 
    justify-content: left;
    font-size: 20px; 
    font-weight: lighter;
    font-family: segoe UI;
    margin-left: 20px;
}

.album-titel p{
    margin-bottom: 10px;
    margin-top: 2git pu0px;
}

.Album{
    //margin: 4px, 4px;
    padding: 4px;
    /**background-color: #08c708;**/
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-top: 5px;
}

.Album img{
    margin-left: 0.7rem;

}

.images-album{
    width: 160px; 
    height: 170px; 
}

.img1{
    display: flex;
    flex-wrap: nowrap;
     
}

.text2{
    display: flex;
}

.text2 p{
    margin: 2px 1rem 1px 1rem;
    font-family: segoe UI;
    // color: #0B0B45;
    color: white;
}

.text2 p:nth-of-type(1){
    margin: 2px 3rem 1px 3.4rem;
}

.text2 p:nth-of-type(2){
    margin: 2px 3.5rem 1px 3.1rem;
}

.text2 p:nth-of-type(3){
    margin: 2px 3.9rem 1px 3.8rem;
}
.text2 p:nth-of-type(4){
    margin: 2px 4rem 1px 4.5rem;
}

.text2 p:nth-of-type(5){
    margin: 2px 4rem 1px 4.5rem;
}

.text2 p:nth-of-type(6){
    margin: 2px 4.2rem 1px 4rem;
}

.text2 p:nth-of-type(7){
    margin: 2px 1.9rem 1px 4rem;
}


/**
--------------------
Media Query
--------------------
**/

@media (min-width: 820px){
    .seek-bar{
        margin-left: 50px;
    }
    .images{
        width: 150px;
        height: 148px;
    }
    .images-artister{
        width: 150px; 
        height: 150px;
    }
    .images-album{
        width: 200px; 
        height: 210px;
    }

    .låtar p{
        font-size: 25px;
    }
    
    .Artister p{

    }
 
    .Album p{

    }

    .text{

    }
    .text1 p{
        font-size: 25px;
    }
    .text2{
        font-size: 25px; 
        color: white;
    }
    .text3 p{
        font-size: 20px;
    }
}

@media (min-width: 820px){

    
    .text p:nth-of-type(1){
        margin: 2px 1.6rem 1px 1.8rem;
    }
    
    .text p:nth-of-type(2){
        margin: 2px 1.4rem 1px 2rem;
    }
    
    .text p:nth-of-type(3){
        margin: 2px 2rem 1px 2rem;
    }
    .text p:nth-of-type(4){
        margin: 2px 2rem 1px 2rem;
    }
    
    .text p:nth-of-type(5){
        margin: 2px 2rem 1px 2.6rem;
    }
    
    .text p:nth-of-type(6){
        margin: 2px 2.3rem 1px 2.8rem;
    }
    
    .text p:nth-of-type(7){
        margin: 2px 1.9rem 1px 3rem;
    }

    .text3 p:nth-of-type(1){
        margin: 2px 3rem 1px 3.5rem;
    }
        
    .text3 p:nth-of-type(2){
        margin: 2px 1.7rem 1px 2.5rem;
    }
        
    .text3 p:nth-of-type(3){
        margin: 2px 1.4rem 1px 1.7rem;
    }
    .text3 p:nth-of-type(4){
        margin: 2px 2rem 1px 2.5rem;
    }
        
    .text3 p:nth-of-type(5){
        margin: 2px 3.3rem 1px 2.5rem;
    }
        
    .text3 p:nth-of-type(6){
        margin: 2px 4rem 1px 3.6rem;
    }
        
    .text3 p:nth-of-type(7){
        margin: 2px 1.9rem 1px 3.2rem;
    }
 
    
    .text1 p:nth-of-type(1){
        margin: 2px 1.8rem 1px 3.3rem;
    }
        
    .text1 p:nth-of-type(2){
        margin: 2px 0.9rem 1px 2.3rem;
    }
        
    .text1 p:nth-of-type(3){
        margin: 2px 0.8rem 1px 0.8rem;
    }
    .text1 p:nth-of-type(4){
        margin: 2px 2rem 1px 0.8rem;
    }
        
    .text1 p:nth-of-type(5){
        margin: 2px 3.1rem 1px 2.3rem;
    }
        
    .text1 p:nth-of-type(6){
        margin: 2px 3rem 1px 3.6rem;
    }
        
    .text1 p:nth-of-type(7){
        margin: 2px 1.9rem 1px 3.2rem;
    }


    .text2 p:nth-of-type(1){
        margin: 2px 1.6rem 1px 3rem;
    }
    
    .text2 p:nth-of-type(2){
        margin: 2px 3.2rem 1px 3.1rem;
    }
    
    .text2 p:nth-of-type(3){
        margin: 2px 4.2rem 1px 4rem;
    }
    .text2 p:nth-of-type(4){
        margin: 2px 3.9rem 1px 4.6rem;
    }
    
    .text2 p:nth-of-type(5){
        margin: 2px 4rem 1px 4.5rem;
    }
    
    .text2 p:nth-of-type(6){
        margin: 2px 4.2rem 1px 4rem;
    }
    
    .text2 p:nth-of-type(7){
        margin: 2px 1.9rem 1px 4rem;
    }
    
}