<ion-content>
  <div class="navbar">
    <svg height="210" width="500" class="Line-test">
      <line x1="40" y1="200" x2="420" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" />
      <!-- Sorry, yo210ur browser does not support inline SVG.4 -->
    </svg>
    <a href="#"><ion-icon name="home-outline"></ion-icon></a>
    <a href="../test1/test1.page.html"><ion-icon name="search-outline"></ion-icon></a>
    <a href="#Library"><ion-icon name="library-outline"></ion-icon></a>
  </div>

  <!-- <div class="settings">
    <ion-icon name="settings-sharp" class="settings"></ion-icon>
    </div>     -->

  <div class="content">
    <div class="title">
      <p>Namn på spellista</p>
    </div>
    
    <div class="subtitle">
      <p>Antal Låtar</p>
    </div>
    <div class="playlist">
      <img src="http://unsplash.it/260/210">
    </div>

    <container class="container">
      <div class="playlist-button">
        <p>Play</p>
      </div>
    </container>
  </div>

  <div class="playlist-song">
    <div class="playlist-item">
      <ion-icon name="play-outline" class="icon-play"></ion-icon>
      <!-- <img src="http://unsplash.it/50" alt="Play button"> -->
      <p>Song title</p>
      <p>Song Artist</p>
      <p>-</p>
      <p>Song Album</p>
      <ion-icon name="heart-outline" class="icon-heart"></ion-icon>
      <!-- <img src="http://unsplash.it/30" alt="Heart"> -->
    </div>
  </div>


</ion-content>
