
<ion-content>
  <div class="navbar">
    <svg height="210" width="500" class="Line-test">
      <line x1="40" y1="200" x2="420" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" />
      <!-- Sorry, yo210ur browser does not support inline SVG.4 -->
    </svg>
    <a href="#"><ion-icon name="home-outline"></ion-icon></a>
    <a href="../test1/test1.page.html"><ion-icon name="search-outline"></ion-icon></a>
    <a href="#Library"><ion-icon name="library-outline"></ion-icon></a>
  </div>

  <div class="settings">
    <ion-icon name="chevron-back-outline" class="settings"></ion-icon>
  </div>

  <div class="title">
    <p>Settings</p>
  </div>

    <!-- <container class="Themes"> -->
      <div class="setting1">
        <!-- <img src="http://unsplash.it/49"> -->
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
        <p>Themes</p>
        <container class="themes">
          <div class="theme1"></div>
          <div class="theme2"></div>
          <div class="theme3"></div>
        </container>
      </div>
    <!-- </container> -->
  

    <div class="setting2">
      <!-- <img src="http://unsplash.it/48"> -->
      <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      <p>Rate The App</p>
    </div>
  
    <div class="setting3">
      <!-- <img src="http://unsplash.it/49"> -->
      <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      <p>About Us</p>
    </div>
  
    <div class="setting4">
      <!-- <img src="http://unsplash.it/48"> -->
      <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      <p>Support</p>
    </div> 

    <container class="settings-donate">
      <div class="donate">
        <a href="#">Donate</a>
      </div>
    </container>

</ion-content>
