<main>
  <!-- <ion-header>
  <ion-toolbar>
    <ion-title>FriaPlay</ion-title>
  </ion-toolbar>
</ion-header> -->

  <div class="navbar">
    <!-- <svg height="210" width="500" class="Line-test"> -->
    <!-- <line x1="7.5%" y1="200" x2="92%" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" /> -->
    <!-- Sorry, 40yo210ur browser d420oes not support inline SVG.4 -->
    <!-- </svg> -->
    <div class="s-solider">
      <div class="seek-bar"></div>
    </div>

    <a href="#"><ion-icon name="home-outline"></ion-icon></a>
    <a href="../test1/test1.page.html"
      ><ion-icon name="search-outline"></ion-icon
    ></a>
    <a href="#Library"><ion-icon name="library-outline"></ion-icon></a>
  </div>

  <div class="content">
    <div class="settings">
      <ion-icon name="chevron-back-outline" class="settings"></ion-icon>
    </div>
    <div class="title">
      <p>Namn på spellista</p>
    </div>

    <div class="subtitle">
      <p>Antal Låtar</p>
    </div>
    <div class="playlist">
      <img src="http://unsplash.it/260/210" />
    </div>

    <div class="container">
      <div class="playlist-button" (click)="start(track)">
        <p>Play</p>
      </div>
    </div>
  </div>

  <div class="scroll">
    <!-- <ion-list> -->
    <div class="bttn" *ngFor="let track of item$ | async">
      <div class="playlist-item1">
        <ion-icon
          name="play-outline"
          class="icon-play start-button"
          (click)="start(track)"
          (click)="enableButtonchange()"
        ></ion-icon>
        <ion-icon
          name="play-outline"
          class="icon-play play-pause"
          (click)="togglePlayer(false, track)"
          *ngIf="!isPlaying || activeTrack.path !== track.path"
          color="light"
        >
          <!-- <ion-icon slot="icon-only" name="play"></ion-icon> -->
          <!-- <ion-icon slot="icon-only" name="play-outline"></ion-icon> -->
        </ion-icon>

        <ion-icon
          name="pause-outline"
          class="icon-pause play-pause"
          (click)="togglePlayer(true, track)"
          *ngIf="isPlaying && activeTrack.path === track.path"
          color="light"
        >
          <!-- <ion-icon slot="icon-only" name="pause"></ion-icon> -->
          <!-- <ion-icon slot="icon-only" name="pause-outline"></ion-icon> -->
        </ion-icon>
        <ion-label
          class="Label"
          [color]="track == activeTrack ? 'success' : 'light' "
          (click)="start(track)"
        >
          {{ track.title }}
        </ion-label>
        <ion-icon name="heart-outline" class="icon-heart"></ion-icon>
      </div>

      <div class="playlist-item2">
        <ion-label class="artist"> {{ track.artist }} </ion-label>
        <p class="line">-</p>
        <ion-label class="album"> {{ track.album }} </ion-label>
      </div>
    </div>
  </div>

  <input type="checkbox" id="myInput" />
  <label class="icon-change" for="myInput">
    <ion-icon
      name="disc-sharp"
      class="disc-icon"
      (click)="enableHamburger()"
    ></ion-icon>
    <ion-icon
      name="chevron-back-outline"
      class="disc-icon2"
      (click)="enableHamburger2()"
    ></ion-icon>
  </label>
  <aside>
    <div class="aside-section aside-left">
      <div class="aside-content">
        <p>Some text that will make you click the cta</p>
        <button class="button">CTA</button>
      </div>
    </div>
    <div class="aside-section aside-right">
      <ion-content>
        <div class="navbar">
          <!-- <svg height="210" width="500" class="Line-test"> -->
          <!-- <line x1="7.5%" y1="200" x2="92%" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" /> -->
          <!-- Sorry, 40yo210ur browser d420oes not support inline SVG.4 -->
          <!-- </svg> -->
          <div class="s-solider">
            <div class="seek-bar"></div>
          </div>

          <a href="/test"><ion-icon name="home-outline"></ion-icon></a>
          <a href="/test1"><ion-icon name="search-outline"></ion-icon></a>
          <a href="/test2"><ion-icon name="library-outline"></ion-icon></a>
        </div>

        <!-- <div class="back">
          <ion-icon name="chevron-back-outline" class="settings"></ion-icon>
        </div> -->

        <div class="title1">
          <p>Artist</p>
        </div>

        <div class="subtitle1">
          <p>Låtnamn</p>
        </div>

        <div class="test"></div>

        <!-- background-image: url("http://unsplash.it/480"); -->
        <div class="disk" [ngClass]="{ 'playing': isPlaying }"></div>

        <ion-icon name="shuffle-outline" class="icon-shuffle"></ion-icon>
        <ion-icon name="heart-outline" class="icon-heart2"></ion-icon>

        <div class="buttons-disk">
          <div class="hide-bttn" fill="clear" (click)="prev()" color="light">
            <ion-icon
              class="buttons"
              slot="icon-only"
              name="play-skip-back"
            ></ion-icon>
          </div>

          <div
            fill="clear"
            class="play-btn hide-bttn"
            (click)="togglePlayer(false)"
            (click)="playBtn()"
            *ngIf="!isPlaying"
            color="light"
          >
            <!-- <ion-icon slot="icon-only" name="play"></ion-icon> -->
            <ion-icon
              class="buttons1"
              slot="icon-only"
              name="play-outline"
            ></ion-icon>
          </div>

          <div
            fill="clear"
            class="play-btn hide-bttn"
            (click)="togglePlayer(true)"
            *ngIf="isPlaying"
            color="light"
          >
            <!-- <ion-icon slot="icon-only" name="pause"></ion-icon> -->
            <ion-icon
              class="buttons2"
              slot="icon-only"
              name="pause-outline"
            ></ion-icon>
          </div>

          <div class="hide-bttn" fill="clear" (click)="next()" color="light">
            <ion-icon
              class="buttons3"
              slot="icon-only"
              name="play-skip-forward"
            ></ion-icon>
          </div>

          <div class="range">
            <ion-range
              #range
              [(ngModel)]="progress"
              max="100"
              color="light"
              (touchend)="seek()"
              (mouseup)="seek()"
            >
            </ion-range>
          </div>
        </div>
      </ion-content>
    </div>
  </aside>
</main>
