
<ion-content>

  <div class="navbar">
    <!-- <svg height="210" width="500" class="Line-test"> -->
      <!-- <line x1="7.5%" y1="200" x2="92%" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" /> -->
      <!-- Sorry, 40yo210ur browser d420oes not support inline SVG.4 -->
    <!-- </svg> -->
    <div class="s-solider">
      <div class="seek-bar"></div>
    </div>
    
    <a href="/test"><ion-icon name="home-outline"></ion-icon></a>
    <a href="/test1"><ion-icon name="search-outline"></ion-icon></a>
    <a href="/test2"><ion-icon name="library-outline"></ion-icon></a>
  </div>



  <a href="/test4" class="settings">
    <ion-icon name="settings-sharp" class="settings"></ion-icon>
  </a>

  <div class="page-title">
    <p class="title">You recently listened to:</p>
  </div>
  <div class="testitems">
    <div class="first">
      <!-- <img src="http://unsplash.it/60" alt="Justin"> -->
      <img src="../../../assets/Justin.jpg" alt="Justin">
      <p class="text-margin">Justin</p>
      <p class="text-margin">Beiber</p>
    </div>
    <div class="second">
      <!-- <img src="http://unsplash.it/60" alt="Bruno"> -->
      <img src="../../../assets/Bruno.jpg" alt="Bruno">
      <p class="text-margin">Bruno</p>
      <p class="text-margin">Mars</p>
    </div>
    <div class="third">
      <!-- <img src="http://unsplash.it/60" alt="Adele"> -->
      <img src="../../../assets/Adele.png" alt="Adele">
      <p class="text-margin">Adele</p>
    </div>
    <div class="fourth">
      <!-- <img src="http://unsplash.it/60" alt="Sam"> -->
      <img src="../../../assets/Sam.jpg" alt="Sam">
      <p class="text-margin">Sam</p>
      <p class="text-margin">Smith</p>
    </div>
  </div>

  <div class="genres-title">
    <p>Genres</p>
    <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon>
  </div>

  <div class="genres">
    <a href="/test6"><p class="dance">Dance</p></a>
    <a href="/test6"><p class="jazz">Jazz</p></a>
    <a href="/test6"><p class="rock">Rock</p></a>
    <a href="/test6"><p class="pop">Pop</p></a>
    <a href="/test6"><p class="rap">Rap</p></a>
    <a href="/test6"><p class="indie">Indie</p></a>
    <a href="/test6"><p class="country">Country</p></a>
    <a href="/test6"><p class="classical">Classical</p></a>
    <a href="/test6"><p class="blues">Blues</p></a>
    <a href="/test6"><p class="electronic">Electronic</p></a>

  </div>
</ion-content>
