
<ion-content>

  <div class="navbar">
    <svg height="210" width="500" class="Line-test">
      <line x1="40" y1="200" x2="420" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" />
      <!-- Sorry, yo210ur browser does not support inline SVG.4 -->
    </svg>
    <a href="#"><ion-icon name="home-outline"></ion-icon></a>
    <a href="../test1/test1.page.html"><ion-icon name="search-outline"></ion-icon></a>
    <a href="#Library"><ion-icon name="library-outline"></ion-icon></a>
  </div>


  <div class="settings">
    <ion-icon name="settings-sharp" class="settings"></ion-icon>
  </div>

  <div class="page-title">
    <p class="title">You recently listened to:</p>
  </div>
  <div class="testitems">
    <div class="first">
      <!-- <img src="http://unsplash.it/60" alt="Justin"> -->
      <img src="../../../assets/Justin.jpg" alt="Justin">
      <p class="text-margin">Justin</p>
      <p class="text-margin">Beiber</p>
    </div>
    <div class="second">
      <!-- <img src="http://unsplash.it/60" alt="Bruno"> -->
      <img src="../../../assets/Bruno.jpg" alt="Bruno">
      <p class="text-margin">Bruno</p>
      <p class="text-margin">Mars</p>
    </div>
    <div class="third">
      <!-- <img src="http://unsplash.it/60" alt="Adele"> -->
      <img src="../../../assets/Adele.png" alt="Adele">
      <p class="text-margin">Adele</p>
    </div>
    <div class="fourth">
      <!-- <img src="http://unsplash.it/60" alt="Sam"> -->
      <img src="../../../assets/Sam.jpg" alt="Sam">
      <p class="text-margin">Sam</p>
      <p class="text-margin">Smith</p>
    </div>
  </div>

  <div class="genres-title">
    <p>Genres</p>
    <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon>
  </div>

  <div class="genres">
    <p>Dance</p>
    <p>Jazz</p>
    <p>Rock</p>
    <p>Pop</p>
    <p>Rap</p>
    <p>Indie</p>
    <p>Country</p>
    <p>Classical</p>
    <p>Blues</p>
    <p>Electronic</p>

  </div>
</ion-content>
