
<ion-content>
  <div class="navbar">
    <svg height="210" width="500" class="Line-test">
      <line x1="40" y1="200" x2="420" y2="200" style="stroke:rgba(255, 255, 255, 0.5);stroke-width:2" />
      <!-- Sorry, yo210ur browser does not support inline SVG.4 -->
    </svg>
    <a href="#"><ion-icon name="home-outline"></ion-icon></a>
    <a href="../test1/test1.page.html"><ion-icon name="search-outline"></ion-icon></a>
    <a href="#Library"><ion-icon name="library-outline"></ion-icon></a>
  </div>

  <div class="settings">
    <ion-icon name="settings-sharp" class="settings"></ion-icon>
  </div>
        
  <div class="title">
    <p>Explore</p>
  </div>
  <div class="items-title">
    <p>Featured Albums</p>
  </div>
  <div class="items">
    <img src="http://unsplash.it/350/150" alt="Featured Album">
    <img src="http://unsplash.it/349/150" alt="Featured Album">
    <img src="http://unsplash.it/351/150" alt="Featured Album">
  </div>

  <div class="items-featured-title">
    <p>Featured artists</p>
  </div>
  <div class="items-featured-img">
    <!-- <img src="http://unsplash.it/100" alt="Featured Artist"> -->
    <img src="../../../assets/Bruno.jpg" alt="Bruno">
    <!-- <img src="http://unsplash.it/101" alt="Featured Artist"> -->
    <img src="../../../assets/Adele.png" alt="Adele">
    <!-- <img src="http://unsplash.it/102" alt="Featured Artist"> -->
    <img src="../../../assets/Justin.jpg" alt="Justin">
  </div>
  <div class="items-featured-p">
    <p>Artist</p>
    <p>Artist</p>
    <p>Artist</p>
  </div>


  <div class="items-top-title">
    <p>Top artists by</p>
  </div>
  <div class="items-top">
    <img src="http://unsplash.it/170" alt="top 100">
    <img src="http://unsplash.it/170" alt="top 100">
  </div>
</ion-content>
